*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
    /* overflow: hidden;     */
}   
nav{
    height: 7vh;
    margin-top: 20px;
    margin: 20px 20px 0 20px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
 
}
nav ul{
    display: flex;
    gap: 10px;
}
nav ul li {
    list-style: none;
    padding: 7px;
    border: 1px solid lightcyan;
    color: #091223;
    font-weight: 570;
    cursor: pointer;
}
nav span{
    width: 11vh;
    margin-top: -49px;
    height: 7vh;
    background: #fff;
    border-radius: 50%;
    text-align: center;

}
nav span img{
    background-color: #fff;
    height: 9vh;
    width:9vh;
    border: 4px solid #fff;
    align-content: center;
    border-radius: 50%;

    filter: grayscale(0.6);
}

/*  main */
main{
    height: 90%;
    width: 100%;
    /* background: #000; */
    display: flex;
    align-items: center;
 /* justify-content: ; */
}

#leftsec{
    margin: 30px 0 0 30px;
    height: 80vh;
    width: 15vw;
    border: 2px solid red;
    text-align: center;
}
#leftsec h2{
    color: #2b3549;
    margin: 20px 20px 20px 20px;
    font-size: 1.9rem;
    border-bottom: 4px solid chocolate;
}
#leftsec .top , .mid{
    height: 13vh;
    width: 100%;
    
}
.top label, .mid label{
    color: #2b3549;
    font-size: 1.2rem;
    font-weight: 500;
}
.top select ,.mid select{
    width: 80%;
    text-align: center;
    height: 3vh;
    border: 1px solid cornflowerblue;
    outline: none;
    font-size: 0.9rem;
  border-radius: 10px;
}
.top option{
    font-size: 0.9rem;  
}

.bottom{
    height: 40vh;
    width: 100%;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
}
.bottom button{
    height: 2rem;
    width: 7rem;

}

#rightsec{
    margin: 30px 0 0 30px;
    height: 80vh;
    width: 78vw;
    border: 2px solid red;
}

.news-cont{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid green;
}